# Ignore node_modules folder
node_modules/

# Ignore compiled JavaScript files in the dist folder
dist/

# Ignore TypeScript cache
*.tsbuildinfo

# Ignore environment files (if applicable)
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore editor and IDE files
.vscode/
.idea/
*.swp
*.swo
